<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

  <div class="w2ui-page page-0">
	<div style="width: 100%; float: left;height: 95%">
			
			<!-- <div id="marketResultHeaderContainer">Event:</div>
			
			<div class="w2ui-label w2ui-span6">Channel:</div>
			<div class="w2ui-field w2ui-span6">
				<select name="eventTime" style="width: 20%"></select>
			</div> 
			
			<div class="w2ui-label w2ui-span6">Markets:</div> -->
<!-- 			<div class="w2ui-label w2ui-span6">Resulted markets:</div> -->
<!-- 			<div class="w2ui-label w2ui-span6">Unresulted markets:</div> -->
			
		<!-- <div class="w2ui-label w2ui-span6">Event Info:</div>
			<div class="w2ui-field w2ui-span6">
				<input name="eventInfo" type="checkbox"/>
			</div> -->
			
			
			
			<div class="w2ui-label">Channel:</div>
			<div class="w2ui-field">
				<select class="eventTime" name="eventTime"></select>
			</div> 
			
			<div class="w2ui-label">Markets:</div>
<!-- 			<div class="w2ui-label w2ui-span6">Resulted markets:</div> -->
<!-- 			<div class="w2ui-label w2ui-span6">Unresulted markets:</div> -->
			
		 <div class="w2ui-label">Event Info:</div>
			<div class="w2ui-field">
				<input name="eventInfo" type="checkbox"/>
			</div>
			
		 </div>
		 
		 <div id="marketResultHeaderContainer">Event:</div>

   </div>

</body>
</html>
