<!DOCTYPE html>

  <div class="w2ui-page page-0">
	<div style="width: 100%; float: left;height: 95%">
		<div class="w2ui-group" style="height: 100%;">
			<div class="w2ui-label w2ui-span6">Event Time:</div>
			<div class="w2ui-field w2ui-span6">
				<select name="eventTime" style="width: 100%"></select>
			</div>
			<div class="w2ui-label w2ui-span6">Start:</div>
			<div class="w2ui-field w2ui-span6">
			<table><tr>
				<td style="width: 60%"><input name="eventStartDate" type="text" maxlength="60" style="width: 100%" placeholder="Date"/></td>
				<td style="width: 40%"><input name="eventStartTime" type="text" maxlength="40" style="width: 100%" placeholder="Time"/></td>
			</tr></table>
			</div>
			<div class="w2ui-label w2ui-span6">End:</div>
			<div class="w2ui-field w2ui-span6">
			<table><tr>
				<td style="width: 60%"><input name="eventEndDate" type="text" maxlength="60" style="width: 100%" placeholder="Date"/></td>
				<td style="width: 40%"><input name="eventEndTime" type="text" maxlength="40" style="width: 100%" placeholder="Time"/></td>
			</tr></table>
			</div>
			<div class="w2ui-label w2ui-span6">Status:</div>
			<div class="w2ui-field w2ui-span6">
				<select name="eventStatus" style="width: 100%"></select>
			</div>
			<div class="w2ui-label w2ui-span6">Event Info:</div>
			<div class="w2ui-field w2ui-span6">
				<input name="eventInfo" type="checkbox"/>
			</div>
		</div>
	</div>
   </div>
		
